{% extends 'base.html' %}
{% block content %}



	<div class="container">
		<div class="header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
			<br>
			<h1 class="display-4" style="color: saddlebrown">Welcome to Car Wash</h1>
			<p class="lead"><strong>Car Wash</strong> is a state of the art car wash serving all types of vehicles.
				We’re known for superior customer experiences — from our full-service, interior and exterior car washing
				and detailing.
				<strong style="color: darkred">We have washed {{ orders_count }} vehicles</strong></p>
			<hr>
		</div>
		<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
			<h1 class="display-4">Pricing</h1>
		</div>
		<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
			{% for vehicle_type in vehicle_types %}
				<div class="col">
					<div class="card mb-4 shadow-sm">
						<div class="card-header">
							<h4 class="my-0 fw-normal">{{ vehicle_type.type }}</h4>
						</div>
						<div class="card-body">
							<h1 class="card-title pricing-card-title">${{ vehicle_type.price }} <small
									class="text-muted">/per</small></h1>
							<ul class="list-unstyled mt-3 mb-4">
								<li>Free Coffe</li>
								<li>Some extra gift</li>
								<li>Choose your fav</li>
								<li>Help center access</li>
							</ul>
							<a href="{% url 'washer_list' %}" type="button"
							   class="w-100 btn btn-lg btn-outline-primary">Order NOW</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>


		<div class="row">
			<div class="header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
				<br>
				<p class="lead"><strong>Company general infomartion</strong></p>
				<hr>
			</div>
			<div class="col-6 col-md">
				<h5>Washers</h5>
				<ul class="list-unstyled text-small">
					{% for washer in washers %}
						<li>{{ washer.get_full_name }}</li>
					{% endfor %}
				</ul>
			</div>
			<div class="col-6 col-md">
				<h5>Wash Types</h5>
				<ul class="list-unstyled text-small">
					{% for wash_type in wash_types %}
						<li>{{ wash_type.name }}</li>
					{% endfor %}
				</ul>
			</div>
			<div class="col-6 col-md">
				<h5>About</h5>
				<ul class="list-unstyled text-small">
					<li><a class="link-secondary" href="{% url 'washer_list' %}">Team</a></li>
					<li><a class="link-secondary" href="{% url 'orders' %}">Orders</a></li>
				</ul>
			</div>
		</div>

	</div>


{% endblock %}