{% extends 'base.html' %}

{% block content %}

<main>
<br> <br> <br>
<h2 class="text-center pt-3 " style="color:saddlebrown">Total Orders - {{ orders_count }}</h2>
<hr>
<br>

<div class="container-fluid" style="background-color: whitesmoke">
  <div class="row">
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mx-auto">
      <h2 style="color:chocolate" >Latest orders</h2>
      <div class="table-responsive ">
        <table class="table table-striped center" style="background-color: whitesmoke">
          <thead>
            <tr>
              <th>#</th>
              <th>Vehicle Type</th>
              <th>Plate number</th>
                <th>Order Date</th>
                <th>Completion Date</th>
              <th>Price $</th>
              <th>Washer</th>
            </tr>
          </thead>
          <tbody>
          {% for order in items %}
            <tr>
              <td>{{ order.pk }}</td>
                <td>{{ order.vehicle.vehicle_type.type }}</td>
              <td>{{ order.vehicle.plate_number }}</td>
              <td>{{ order.order_date }}</td>
                <td>{{ order.completion_date }}</td>
              <td>{{ order.price }}</td>
                <td>{{ order.washer }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    {% if items.has_other_pages %}
	    <div class="col-6 offset-3 text-center-pagination-set">
	        <nav aria-label="">
		        <ul class="pagination">
			        {% if items.has_previous %}
				        <li class="page-item"><a class="page-link"
				        href="?page={{ items.previous_page_number }}"><<</a>
				        </li>
				    {% else %}
				        <li class="page-item disabled">
					        <a class="page-link"><span><<</span></a>
				        </li>
			        {% endif %}
			        {% for i in page_range %}
				        {% if items.number == i %}
					        <li class="page-item-active">
						        <a class="page-link" href="#">{{ i }}<span class="sr-only"></span></a>
					        </li>
				        {% else %}
							<li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
				        {% endif %}
		            {% endfor %}
		            {% if items.has_next %}
			            <li class="page-item"><a class="page-link" aria-label="Next" href="?page={{ items.next_page_number }}">>></a></li>
			        {% else %}
						<li class="page-item disabled"><a class="page-link"><span>>></span></a></li>
			        {% endif %}
		        </ul>
	        </nav>
	    </div>
    {% endif %}
    </main>
  </div>
</div>


</main>


  </body>
</html>


{% endblock %}