{% extends 'base.html' %}
{% block content %}

	<div class="container marketing">


		<h2 class="text-center pt-3">The professional team of the company</h2>
		<p class="text-center pt-3">We help car wash businesses grow through digitalisation. some random text.</p>

			<div class="text text-center">
				<br> <br>
				<h4 style="color:saddlebrown">Washers</h4>
				<p style="color: darkgray">Total Washed - {{ total }} | Profit - <strong>{{ profit|default_if_none:0 }}$
				</strong></p>
				<hr>
				<br> <br>
			</div>
			{% for washer in washers %}

			{% if forloop.counter0|divisibleby:4 %}
                <div class="row">
            {% endif %}

				<div class="col-lg-4">
					<img class="bd-placeholder-img rounded-circle" height=250 width=250 src="{{ washer.image.url }}"/>
					<h2>{{ washer.get_full_name }}</h2>
					<p>Phone - {{ washer.phone }}</p>
					<p>In our team since {{ washer.joined }}</p>
					<p>Washed - {{ washer.washed_count }}</p>
					<p>Percent per order - {{ washer.salary }}%</p>
					<p>Earned - {{ washer.washer_earned }}</p>
					<a class="btn btn-primary" href="{% url 'washer_detail' washer.pk %}" role="button">Read More</a>
					<br><br>
				</div><!-- /.col-lg-4 -->

			{% if forloop.counter|divisibleby:4 or forloop.last %}
            </div><!-- /.row -->
            {% endif %}

			{% endfor %}

		<br>

	</div><!-- /.container -->

{% endblock %}