{% extends 'base.html' %}

{% block content %}
	<br>
	<div class="text text-center">
		<br> <br>
		<h4 style="color:saddlebrown">Washer</h4>
		<hr>
		<br> <br>
	</div>
	<div class="row">
		<div class="col s12 m7">
			<div class="text text-center">

				<img class="bd-placeholder-img rounded-circle" height=250 width=250 src="{{ washer.image.url }}"/>
				{% if washer.first_name %}
					<h2>{{ washer.get_full_name }}</h2>
				{% endif %}
				<p>E-Mail - {{ washer.email }}</p>
				<p>Phone - {{ washer.phone }}</p>
				<p>Percent per order - {{ washer.salary }}%</p>
				<p>In our team since {{ washer.joined }}</p>
				<br><br>
			</div>
		</div>
		<div class="col s12 m5">
			<div class="row">
				<div class="col s12">
					<p>
						<button class="btn btn-success" type="button" data-bs-toggle="collapse"
						        data-bs-target="#week" aria-expanded="false" aria-controls="week">
							Week
						</button>
						<button class="btn btn-warning" type="button" data-bs-toggle="collapse"
						        data-bs-target="#month" aria-expanded="false" aria-controls="month">
							Month
						</button>
						<button class="btn btn-danger" type="button" data-bs-toggle="collapse"
						        data-bs-target="#year" aria-expanded="false" aria-controls="year">
							Year
						</button>
					</p>
					<div class="collapse" id="week">
						<div class="card card-body">
							<p style="color: green">Earned: {{ earned_money_week }}$</p>
							<p style="color: green">Washed: {{ washed_last_week }}</p>
						</div>
					</div>
					<div class="collapse" id="month">
						<div class="card card-body">
							<p style="color: sandybrown">Earned: {{ earned_money_month }}$</p>
							<p style="color: sandybrown">Washed: {{ washed_last_month }}</p>
						</div>
					</div>
					<div class="collapse" id="year">
						<div class="card card-body">
							<p style="color: red">Earned: {{ earned_money_year }}$</p>
							<p style="color: red">Washed: {{ washed_last_year }}</p>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<form class="col s12" action="." method="POST">
					{% csrf_token %}
					<div class="col-md-6">
						<label for="inputVehicleManufacturer" class="form-label">Manufacturer</label>
						<input type="text" class="form-control" id="inputVehicleManufacturer" name="manufacturer"
						       required>
					</div>
					<div class="col-md-6">
						<label for="inputVehicleModel" class="form-label">Model</label>
						<input type="text" class="form-control" id="inputVehicleModel" name="model" required>
					</div>
					<div class="col-md-6">
						<label for="inputVehiclePlateNumber" class="form-label">Plate Number</label>
						<input type="text" class="form-control" id="inputVehiclePlateNumber" name="plate_number"
						       required>
					</div>
					<div class="col-md-4">
						<label for="inputVehicleType" class="form-label">Vehicle Type</label>
						<select id="inputVehicleType" class="form-select" name="vehicle_type" required>
							<option selected>Choose...</option>
							{% for vehicle_type in vehicle_types %}
								<option value="{{ vehicle_type.pk }}">{{ vehicle_type.type }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="col-md-4">
						<label for="inputWashType" class="form-label">Wash Type</label>
						<select id="inputWashType" class="form-select" name="wash_type" required>
							<option selected>Choose...</option>
							{% for wash_type in wash_types %}
								<option value="{{ wash_type.pk }}">{{ wash_type.name }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="col-md-3">
						<label for="InputCompletionDate" class="form-label">Completion Date</label>
						<input type="text" class="form-control" id="inputCompletionDate" name="completion_date" required>
					</div>
					<br>
					<div class="col-12">
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>

				</form>
			</div>
		</div>
	</div>


{% endblock %}